@import "tailwindcss";

/* Font styles */
@layer base {
  h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  .font-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
}

/* Viralmind Brand Book Colors */
@theme {
  /* Primary Colors */
  --color-primary-100: #131120;
  --color-primary-200: #292441;
  --color-primary-300: #211d35;
  --color-primary-400: #19172a;
  --color-primary-500: #12101d;
  --color-primary-600: #0b0a13;

  /* Secondary Colors */
  --color-secondary-100: #d468ff;
  --color-secondary-200: #cd4eff;
  --color-secondary-300: #bb4eff;
  --color-secondary-400: #8c4fff;
  --color-secondary-500: #6050ff;
  --color-secondary-600: #4e51ff;
  --color-secondary-700: #3a3cd1;

  /* Accent Colors */
  --color-accent-100: #ffffff;
  --color-accent-200: #f1f1f1;
  --color-accent-300: #e4e4e4;
  --color-accent-400: #cdcdcd;
  --color-accent-500: #bdbdbd;
  --color-accent-600: #9f9f9f;
}
